<div (click)="openModal(template)">
  <img src="/assets/icons8-ajouter-48.png" alt="" sizes="" srcset="">
</div>
<table
  class="table table-striped  m-2 bg-white container-fluid table-bordered table-active table-hover table-responsive">
  <thead>
  <tr class="">
    <th scope="col">Prenom</th>
    <th scope="col">Nom</th>
    <th scope="col">Msisdn</th>
    <th scope="col">numero_contact</th>
    <th scope="col">Email</th>
    <th scope="col">***thoussant***</th>
  </tr>
  </thead>
  <tbody *ngFor="let usag of usager">
  <tr>
    <td>{{usag.prenom}}</td>
    <td>{{usag.nom}}</td>
    <td>{{usag.msisdn}}</td>
    <td>{{usag.numeroContact}}</td>
    <td>{{usag.login}}</td>
    <td class="tdtool d-flex justify-content-around">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" style="color: dodgerblue" height="16" fill="currentColor"
           class="bi bi-pen " viewBox="0 0 16 16" (click)="openModal(template1)" (click)="detail(usag)">
        <path
          d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" style="color: dodgerblue" height="16" fill="currentColor"
           class="bi bi-pen " viewBox="0 0 16 16" (click)="openModal(template)" (click)="update(usag,usag.id)">
        <path
          d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: firebrick" fill="currentColor"
           class="bi bi-trash" viewBox="0 0 16 16" (click)="deleteUsager(usag.id)">
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-center">Formulaire</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="formulaire1 container h-100">
      <form [formGroup]="monFormulaire" class="m-lg-2 ">
        <span class="d-flex justify-content-center bg-black text-warning "><h2>add user</h2></span>
        <div class="d-flex justify-content-between">
          <div class="mb-3 ">
            <label for="prenom" class="form-label">Prenom</label>
            <input type="text" class="form-control" id="prenom" formControlName="prenom"
                   required
                   aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" formControlName="nom">
          </div>
        </div>
        <div class="d-flex">
          <div class="mb-3">
            <label for="latitude" class="form-label">latitude</label>
            <input type="text" class="form-control" id="latitude" formControlName="geolatitude"
                   aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="logitude" class="form-label">logitude</label>
            <input type="text" class="form-control" id="logitude" formControlName="geolongititude">
          </div>
        </div>
        <div class="d-flex">
          <div class="mb-3">
            <label for="msisdn" class="form-label">Msisdn</label>
            <input type="text" class="form-control" id="msisdn" formControlName="msisdn" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="numcontact" class="form-label">Numero de contect</label>
            <input type="numcontact" class="form-control" id="numcontact" formControlName="numeroContact">
          </div>
        </div>
        <div class="d-flex">
          <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="v" class="form-control" id="email" formControlName="login">
          </div>
          <div class="mb-3">
            <label for="numcontact" class="form-label">selection usager</label>
            <select formControlName="type">
              <option *ngFor="let state of states" [ngValue]="state">
                {{ state }}
              </option>
            </select></div>
        </div>


        <button type="submit" [disabled]="!monFormulaire.valid" (click)="onsubmit(monFormulaire.value)"
                class="btn btn-dark" [routerLink]="['/home']">
          Submit
        </button>

      </form>

    </div>
    <hr>

  </div>
</ng-template>
<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="formulaire1 container h-100 fw-bold d-flex">

      <p>{{detailus.prenom}}</p>
      <p>{{detailus.nom}}</p>
      <p>{{detailus.login}}</p>
      <p>{{detailus.msisdn}}</p>
      <p>{{detailus.numeroContact}}</p>

    </div>
  </div>
  <hr>
</ng-template>
