<div class="d-flex">
  <div class="sidebare">

        <div class="sidebareheader">
          <h5 class="fw-bold">OFMS CLIENT CUSTOMER</h5>
          <img src="assets/group-37.png" alt="" srcset="">
        </div>

  </div>
  <div class="main">
    <img src="assets/logo-sonatel@2x.png" alt="" sizes="" srcset="">
    <form class="formulaireConeexion">
      <div class="divlog">

        <input type="email" class="form-control " id="exampleInputEmail1" placeholder="login" aria-describedby="emailHelp">
      </div>
      <div class="divlog">

        <input type="password" class="form-control " id="exampleInputPassword1" placeholder="password">
      </div>

      <button type="button" class="btn btn-dark w-50 fw-bold" [routerLink]="['/home']">connexion</button>
    </form>
  </div>

</div>

<!-- commentait intelij -->
